.card-body.px-lg-10.pt-0
  = form_for @post, html: { class: 'md-form', style: 'color: #757575;' } do |f|
    - if @post.errors.any?
      #error_explanation.callout.alert
        %h2=t('error_explanation', count: @post.errors.count)
        %ul
          - @post.errors.full_messages.each do |message|
            %li= message

    = f.text_field :title, class: 'form-control'
    = f.label :title

    = f.text_area :text, class: 'form-control'
    = f.label :text



    = f.submit

